/* App Container */
.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  /* Adjust the font family as needed */
  border: 1px solid #ddd;
  border-radius: 10px;
}

/* Restaurant List */
.RestaurantList {
  width: 30%;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

.RestaurantList h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #333;
}

.RestaurantList ul {
  list-style: none;
  padding: 0;
}

.RestaurantList li {
  margin-bottom: 12px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.RestaurantList li:hover {
  background-color: #ddd;
  color: #333;
  border: 1px solid #999;
}

/* Map */
.Map {
  width: 70%;
  height: 500px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

/* Loading Message */
.Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.4rem;
  color: #555;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .App {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .RestaurantList {
    width: 100%;
    margin-bottom: 20px;
  }

  .Map {
    width: 100%;
  }
}

.CategorySelector {
  margin-bottom: 20px;
}

.CategorySelector h3 {
  margin-bottom: 10px;
}